<div class="form-group">
  <label for="loanAmount">How much money do you need?</label>
  <input type="range" class="form-control" 
    #loanAmount 
    [min]="min" 
    [max]="max" 
    [step]="step" 
    [value]="defaultValue"
    (change)="onChange(loanAmount.value)"
    (input)="onChange(loanAmount.value)">  
  <!-- <input type="range" class="form-control" id="loanAmount" step="5000" min="5000" max="250000"> -->
  <ul class="prospa-loan-range-list">
      <li>$5000</li>
      <li>$50000</li>
      <li>$100000</li>
      <li>$150000</li>
      <li>$250000</li>
    </ul>  
  <input type="text" class="form-control" id="loanAmount" disabled
    [ngModel]="loanAmount.value | currency:'USD':true:'1.2-2'" (ngModelChange)="loanAmount.value=$event">
</div>