.prospa-page-header{
  line-height: 42px;
  font-family: Arial;
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  color: #5b666d;
  margin-bottom: 25px;
}

.prospa-page-description{
  font-family: Arial;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.4px;
  text-align: left;
  color: #455a64;
  margin-bottom: 25px;
}
